<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - parish_bookstore</title>
    <link rel="stylesheet" href="~/wwwroot/css/normalize.css">
    <link rel="stylesheet" href="~/css/scratch.css">
</head>
<body>
    <header>
        <img id="headerLeft" src="~/media/headerImage.png" alt="cross image">
        <h2 id="headerRight">St. Anthony Parish Bookstore</h2>
    </header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <nav id="topNav">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a href="https://stanthonys.nucleus.church/" title="parish website" target="_blank">PARISH SITE</a></li>
                <li><a href="https://store.ancientfaith.com/" title="ancient faith radio store" target="_blank">AFR STORE</a></li>
            </ul>
        </nav>
        <nav>
            <ul id="sideNav">
                <li class="listItem"><a>Books</a></li>
                <li class="listItem"><a>Icons</a></li>
                <li class="listItem"><a>Home Altar</a></li>
                <li class="listItem"><a>Prayer Ropes</a></li>
                <li class="listItem"><a>Gifts</a></li>
                <li id="lastListItem"><a>Misc.</a></li>
            </ul>
        </nav>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - parish_bookstore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
