@model parish_bookstore.Models.GeneralItem

@{
    ViewData["Name"] = "Edit Item";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Edit Item";
}

<div class="imageContainer">
	<img src="~/media/images/@Model.ImageName">
</div>
<div class = "detailsContainer">
    <form enctype="multipart/form-data" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="GeneralItemId"/>
        <input type="hidden" asp-for="Bookie"/>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="CategoryId"></label>
            </div>
            <div class="column">
                <select asp-for="CategoryId">
                    <option value="">Select a Category</option>
                    @foreach (GeneralItemCategory gc in context.GeneralItemCategories)
                    {
                        @if (gc.GeneralItemCategoryId != 1)
                        {
                            <option value="@gc.GeneralItemCategoryId">@gc.CategoryName</option>
                        }
                    }
                </select>
                <span asp-validation-for="CategoryId"></span>
            </div>
        </div>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="Name"></label>
            </div>
            <div class="column">
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="Price"></label>
            </div>
            <div class="column">
                <input asp-for="Price"/>
                <span asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="Quantity"></label>
            </div>
            <div class="column">
                <input asp-for="Quantity"/>
                <span asp-validation-for="Quantity"></span>
            </div>
        </div>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="Description"></label>
            </div>
        </div>
        <div class="row">
                <textarea asp-for="Description" rows="3" cols="40"></textarea>
                <span asp-validation-for="Description"></span>
        </div>
        <div class="row">
            <label asp-for="Image"></label>
            <input type="file" asp-for="Image">
            <span asp-validation-for="Image"></span>
        </div>
        <div class = "row">
            <a asp-action="Index" class="backToIndex"> &larr; Back to List</a> |
            <input type="submit" class="submitButton" value="Save Changes"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
