@model parish_bookstore.Models.GeneralItemCategory

@{
    ViewData["Title"] = "Delete Category";
    ViewData["Header"] = "Delete General Item Category";
}

<h3 class="deleteHeader">Are you SURE you want to DELETE this?</h3>

<div class="row">
    <div class="labelColumn">
        @Html.DisplayNameFor(model => model.CategoryName):
    </div>
    <div class="column">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
</div>
<br>
<p>All items assigned to this category will be automatically reassigned to "unassigned".</p>
<br>
<p>Items assigned to "unassigned" will NOT be displayed to customers.</p>
<br>
<p>Please reassign the items assigned to "unassigned".</p>
<form asp-action="Delete">
    <br>
    <a asp-action="Index" class="backToIndex"> &larr; Back to List</a> | 
    <input type="hidden" asp-for="GeneralItemCategoryId" />
    <input type="submit" value="Delete" class="delete" />
</form>