@model parish_bookstore.Models.HomeAltarItemCategory

@{
    ViewData["Title"] = "Category Details";
    ViewData["Header"] = "Home Altar Item Category Details";
}

<div class="row">
    <div class="labelColumn">
        @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="column">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
</div>
<div class="row">
    <br>
    <a asp-action="Index" class="backToIndex"> &larr; Back to List</a>
</div>
   