@model parish_bookstore.Models.Book

@{
    ViewData["Title"] = "Edit Book";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Edit Book";
}


<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="BookId"/>
            <div class="edit">
                <label asp-for="BookCategoryId"></label>
                <input asp-for="BookCategoryId"/>
            </div>
            <span asp-validation-for="BookCategoryId"></span>
            <div class="edit">
                <label asp-for="Title"></label>
                <input asp-for="Title"/>
            </div>
            <span asp-validation-for="Title"></span>
            <div class="edit">
                <label asp-for="Author"></label>
                <input asp-for="Author"/>
            </div class="edit">    
                <span asp-validation-for="Author"></span>
            <div class="edit">
                <label asp-for="Publisher"></label>
                <input asp-for="Publisher"/>
            </div class="edit">    
                <span asp-validation-for="Publisher"></span>
            <div class="edit">
                <label asp-for="PublishYear"></label>
                <input asp-for="PublishYear"/>
            </div class="edit">
            <span asp-validation-for="PublishYear"></span>
            <div class="edit">
                <label asp-for="ISBN"></label>
                <input asp-for="ISBN"/>
            </div class="edit">
            <span asp-validation-for="ISBN"></span>
            <div class="edit">
                <label asp-for="Price"></label>
                <input asp-for="Price"/>
            </div>
            <span asp-validation-for="Price"></span>
            <div class="edit">
                <label asp-for="Description"></label>
                <input asp-for="Description"/>
            </div>
                <span asp-validation-for="Description"></span>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
