@model parish_bookstore.Models.Book

@{
    ViewData["Title"] = "Edit Book";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Edit Book";
}


<div class="imageContainer">
	<img src="~/media/images/@Model.ImageName">
</div>
<div class="detailsContainer">
	<form enctype="multipart/form-data" asp-action="Edit">
		<div asp-validation-summary="ModelOnly"></div>
		<input type="hidden" asp-for="BookId"/>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="BookCategoryId"></label>
			</div>
			<div class="column">
				<select asp-for="BookCategoryId">
				<option value="">Select a Category</option>
				@foreach (BookCategory bc in context.BookCategories)
				{
					<option value="@bc.BookCategoryId">@bc.CategoryName</option>
				}
			</select>
				<span asp-validation-for="BookCategoryId"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="Title"></label>
			</div>
			<div class="column">
				<input asp-for="Title"/>
				<span asp-validation-for="Title"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="Author"></label>
			</div>
			<div class="column">
				<input asp-for="Author"/>
				<span asp-validation-for="Author"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="Publisher"></label>
			</div>
			<div class="column">
				<input asp-for="Publisher"/>
				<span asp-validation-for="Publisher"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="PublishYear"></label>
			</div>
			<div class="column">
				<input asp-for="PublishYear"/>
				<span asp-validation-for="PublishYear"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="ISBN"></label>
			</div>
			<div class="column">
				<input asp-for="ISBN"/>
				<span asp-validation-for="ISBN"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="Price"></label>
			</div>
			<div class="column">
				<input asp-for="Price"/>
				<span asp-validation-for="Price"></span>
			</div>
		</div>
		<div class="row">
			<div class="labelColumn">
				<label asp-for="Description"></label>
			</div>
		</div>
		<div class="row">
				<textarea asp-for="Description" rows="3" cols="40"></textarea>
				<span asp-validation-for="Description"></span>
		</div>
		<div class = "row">
			<label asp-for="Image"></label>
			<input type="file" asp-for="Image" value="~/media/images/@Model.ImageName">
			<span asp-validation-for="Image"></span>
		</div>
		<div class = "row">
			<a asp-action="Index" class="backToIndex"> &larr; Back to List</a> |
			<input type="submit" class="submitButton" value="Save Changes"/>
		</div>
	</form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
