@model IEnumerable<parish_bookstore.Models.Icon>

@{
    ViewData["Title"] = "Icons";
    ViewData["Header"] = "Icons";
}

<div class=itemList>
@foreach (var item in Model) {
    <div class="itemBox">
        <img src="~/media/images/@item.ImageName" class="itemImage">
        <div class="itemDetailsShelf">
            <ul>
                <li class="itemName">@Html.DisplayFor(modelItem => item.Name)</li>
                <li class="price">@Html.DisplayFor(modelItem => item.Price)</li>
            </ul>
            <a href="#" class="cartButton">Add to Cart</a> |
            <a asp-action="Details" asp-route-id="@item.IconId" class="detailsButton">Details</a>
        </div>
    </div>
}
</div>
