@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <ul id="navlist">
        <li>Books</li>
        <li>Icons</li>
        <li>Home Altar</li>
        <li>Prayer Ropes</li>
        <li>Gifts</li>
        <li>Misc.</li>
    </ul>
</nav>
