<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="~/media/favicon.ico">
    <title>@ViewData["Title"] - ADMIN </title>
    <link rel="stylesheet" href="~/wwwroot/css/normalize.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <img id="headerLeft" src="~/media/headerImage.png" alt="cross image">
        <h2 id="headerRight">St. Anthony Parish Bookstore</h2>
    </header>
    </header>
    <div class="container">
        <main role="main">
            <div id="stageHeader">
                <div id="stageHeaderText">
                    <img src="~/media/headingIconLeft.png">
                    <h2>@ViewData["Header"]</h2>
                    <img src="~/media/headingIconRight.png">
                </div>
            </div>
            <div id="sideNav">
                <nav>
                    <ul>
                        <li class="listItem"><a asp-area="Admin" asp-controller="Book" asp-action="Index">Books</a></li>
                        <li class="listItem"><a asp-area="Admin" asp-controller="Icon" asp-action="Index">Icons</a></li>
                        <li class="listItem"><a asp-area="Admin" asp-controller="HomeAltarItem" asp-action="Index">Home Altar</a></li>
                        <li class="listItem"><a asp-area="Admin" asp-controller="PrayerRope" asp-action="Index">Prayer Ropes</a></li>
                        <li id="lastListItem"><a asp-area="Admin" asp-controller="GeneralItem" asp-action="Index">Misc.</a></li>
                    </ul>
                </nav>
                <nav id="externalSites">
                <p>
                    <a class="externalSitesItem" href="https://stanthonys.nucleus.church/" title="parish website" target="_blank">Parish Site</a>
                </p>
                <p>
                    Can't find what you need for here? <br><a href="https://store.ancientfaith.com/" title="ancient faith radio store" target="_blank" style="color: #545e7e">Check the Ancient Faith Radio Store!</a>
                </p>
            </nav>
            </div>
            <div id="mainStage">
                <p class="warnHeader">ADMIN</p>
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - parish_bookstore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
