@model IEnumerable<parish_bookstore.Models.Book>

@{
    ViewData["Title"] = "Books";
    BookstoreContext context = (BookstoreContext)ViewData["Context"];
    ViewData["Header"] = "Books";
}

<div class=itemList>
@foreach (var item in Model) {
    <div class="itemBox">
        <img src="~/media/images/@item.ImageName" class="itemImage">
        <div class="itemDetailsShelf">
            <ul>
                <li class="itemName">@Html.DisplayFor(modelItem => item.Title)</li>
                <li class="bookAuthor">@Html.DisplayFor(modelItem => item.Author)</li>
                <li class="price">@Html.DisplayFor(modelItem => item.Price)</li>
            </ul>
            <a href="#" class="cartButton">Add to Cart</a> |
            <a asp-action="Details" asp-route-id="@item.BookId" class="detailsButton">Details</a>
        </div>
    </div>
}
</div>
