/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');*/
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', sans-serif;
    font-size: 100%;
    width: 95vw;
    margin: auto;
    background-color: #EBEBEB;
}
header {
    height: 10vh;
    min-width: max-content;
    background-color: #647C96;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#headerLeft {
    width: 6.17vh;
    height: 8vh;
    float: left;
    margin: 1vh 5vh;
}
#headerRight {
    width: 90%;
    float: right;
    margin: 3vh;
    font-size: 6vh;
}
a {
    text-decoration: none;
}
#stageHeader {
    float: right;
    width: 100%;
    height: 5vh;
    margin: 1vh auto;
    
}
#stageHeader h2 {
    text-align: center;
    margin: 0 auto;
    width: max-content;
    padding: 0 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#sideNav {
    
    height: 75vh;
    width: 10%;
    float:left ;
}
#sideNav ul {
    min-width: max-content;
    list-style: none;
    padding: 1vh 0;
    background-color: #647C96;
    border: 1px solid black;
    border-radius: 30px;
}
.listItem {
    padding: 1vh 2vh;
    margin: 0 1vh;
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
}
.listItem a, #lastListItem a {
    color: white;
}
#lastListItem {
    padding: 1vh 2vh;
    margin: 0 1vh;
    color: white;
    text-align: center;
}
#sideNav li:hover {
    font-weight: bold;
    font-style: italic;
    color: black;
    cursor: pointer;
}
#sideNav ul li a:visited {
    color: white;
}
#externalSites {
    padding-top: 5vh;
    
    color: black;
    text-align: center;
}
#externalSites p {
    padding: 1vh 0;
    margin: 1vh 0;
    border: 2px solid black;
    border-radius: 10px;
}
#externalSites a {
    font-weight: bold;
    color: black;
}
#externalSites a:hover {
    color: black;
    font-style: italic;
}
#externalSites a:visited {
    color: black;
}
#mainStage {
    height: 75vh;
    width: 90%;
    float: right;
    padding: 2vh;
}
footer {
    height: 10vh;
    clear: both;
    text-align: center;
}
