/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');*/
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', sans-serif;
    font-size: 100%;
    width: 95vw;
    margin: auto;
    background-color: #EBEBEB;
}
header {
    height: 10vh;
    min-width: max-content;
    background-color: #647C96;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#headerLeft {
    width: 6.17vh;
    height: 8vh;
    float: left;
    margin: 1vh 5vh;
}
#headerRight {
    width: 90%;
    float: right;
    margin: 3vh;
    font-size: 6vh;
}
a {
    text-decoration: none;
}
#stageHeader {
    float: right;
    width: 100%;
    height: 5vh;
    margin: 1vh auto;
    
}
#stageHeaderText {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: content-box;
}
#stageHeaderText h2 {
    text-align: center;
    float: left;
}
#stageHeaderText img {
    height: .5em;
    margin: 0 1em;
    float: left;
}
.warnHeader {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1vh;
    max-width: max-content;
    margin: 1vh;
}
.column {
    float: left;
    width: 15vh;
    font-weight: bold;
    padding-bottom: .5vh;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.submitButton {
      padding: .5vh 1vh;
      margin: 1vh;
  }
.backToIndex {
      padding: .5vh 1vh;
      margin: 1vh;
      font-weight: bold;
      border: 1px solid black;
      border-radius: 5px;
      color: white;
      background-color: #647C96;
  }
.backToIndex a {
    color: white;
}
.backToIndex a:visited {
    color: white;
}
#sideNav {
    
    height: 75vh;
    width: 10%;
    float:left ;
}
#sideNav ul {
    min-width: max-content;
    list-style: none;
    padding: 1vh 0;
    background-color: #647C96;
    border: 1px solid black;
    border-radius: 30px;
}
.listItem {
    padding: 1vh 2vh;
    margin: 0 1vh;
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
}
.listItem a, #lastListItem a {
    color: white;
}
#lastListItem {
    padding: 1vh 2vh;
    margin: 0 1vh;
    color: white;
    text-align: center;
}
#sideNav li:hover {
    font-weight: bold;
    font-style: italic;
    color: black;
    cursor: pointer;
}
#sideNav ul li a:visited {
    color: white;
}
#externalSites {
    padding-top: 5vh;
    color: black;
    text-align: center;
}
#externalSites p {
    padding: 1vh 0;
    margin: 1vh 0;
    border: 2px solid black;
    border-radius: 10px;
    
}
#externalSites a {
    font-weight: bold;
    color: black;
}
#externalSites a:hover {
    color: black;
    font-style: italic;
}
#externalSites a:visited {
    color: black;
}
#mainStage {
    height: 75vh;
    width: 90%;
    float: right;
    padding: 0 2vh 2vh 10vh;
}
.table {
    border: 1px solid black;
    background-color: #A6A6A6;
    border-radius: 10px;
    padding: 1vh;
}
.table th {
    border: 1px solid black;
    padding: 1vh 2vh;
    color: white;
    background-color: #647C96;   
}
#firstColumnHead {
    border-top-left-radius: 10px;
}
#lastColumnHead {
    border-top-right-radius: 10px;
}
.table td {
    border: 1px solid black;
    padding: 1vh 2vh;
    background-color: #EBEBEB;
}
.table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
.table thead tr:last-child th:last-child {
    border-top-right-radius: 10px;
} 
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
footer {
    height: 10vh;
    clear: both;
    text-align: center;
}
