@model parish_bookstore.Models.BookCategory

@{
    ViewData["Title"] = "Edit Category";
    ViewData["Header"] = "Edit Book Category";
}

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="labelColumn">
                <label asp-for="CategoryName"></label>
            </div>
            <div class="column">
                <input asp-for="CategoryName"/>
                <span asp-validation-for="CategoryName"></span>
            </div>
        </div>
        <div class="row">
            <br>
            <a asp-action="Index" class="backToIndex"> &larr; Back to List</a> | 
            <input type="submit" class="submitButton" value="Save Changes"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}